@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-display: 'Poppins', system-ui, sans-serif;

  --color-brand-green: #14B8A6;
  /* Teal 500 */
  --color-brand-green-light: #F0FDFA;
  /* Teal 50 */
  --color-brand-green-dark: #0F766E;
  /* Teal 700 */

  --color-brand-orange: #F97316;
  /* Orange 500 (Darker) */
  --color-brand-orange-light: #FFF7ED;
  /* Orange 50 */

  --color-bg-light: #F9F9F9;
  --color-bg-surface: #FFFFFF;
}

@layer base {
  body {
    background-color: var(--color-bg-light);
    color: var(--color-brand-green-dark);
    font-family: var(--font-sans);
  }
}

@utility glass-panel {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}